@import "../../styles.scss";

.calls {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__heading {
    font-size: 3rem;
    @include fontFamily;
    font-weight: bold;
    color: $color-dark-red;
    margin: 3rem;
  }

  &__content {
    padding: 1rem;
    background: $color-white;
    box-shadow: 0rem 0.4rem 0.7rem $color-box-shadow;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.table {
  @include fontFamily;
  &__row-head {
    background-color: $color-white;
    padding: 3rem 1rem;
    font-size: 1.7rem;
    color: $color-grey-dark;
    font-weight: 500;
    box-shadow: 0rem 0.2rem 0.4rem $color-box-shadow;
    @include textDecorate;
    &:hover {
      padding: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      box-shadow: 0rem 0.4rem 0.8rem $color-box-shadow;
    }
  }

  &__row-content {
    background-color: $color-white;
    padding: 2rem 0rem;
    font-size: 1.4rem;
    color: $color-grey-dark;
    font-weight: 300;
    @include fontFamily;
    box-shadow: 0rem 0.1rem 0.1rem $color-box-shadow;
    cursor: pointer;
    margin-top: 0.5rem;
    @include textDecorate;

    &:hover {
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-dark-red;
      box-shadow: 0rem 0.2rem 0.2rem $color-box-shadow;
    }
  }
}

.pagination {
  font-size: 2rem;
  font-weight: 500;
  margin: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
