<div class="container">
  <div class="row  col-8">
    <div class="col-lg-12 form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <h1 class="login-form__heading">Sign In</h1>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="username" aria-describedby="emailHelp"
            placeholder=" Enter User Name" required>

          <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched"
            class="mt-3 error">
            <small *ngIf="loginForm.controls['username'].errors?.required" class="text-danger"> User Name is
              required</small>
          </div>

        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder=" Enter Password" required>

          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
            class="mt-3 error ">
            <small *ngIf="loginForm.controls['password'].errors?.required" class="text-danger "> Password is
              required</small>
          </div>
        </div>

        <button type="submit" class="btn " [disabled]="!loginForm.valid">Submit</button>
      </form>
    </div>

  </div>

</div>


<ngx-spinner></ngx-spinner>